
	.navbar{
		margin-bottom:0;
		border-radius:0;
	}

	.cust-grid{
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
		margin: 0px;
		padding: 0px;
	}

	.container-page{
		background-color: white;
	}

	.page-footer {
		margin-top: 1.5em;
		background-color: #D0C7C9;
		font-size: .8em;
		padding: 10px;
	}

	.myfoot {
		color: black;
	}

	.footer-copyright {
		padding-top: 10px;
	}

	.fa {
	  padding: 5px 5px;
	  font-size: 25px !important;
	  width: 35px;
	  text-align: center;
	  text-decoration: none;
	  margin: 5px 2px;
	  border-radius: 15%;
	}

	.fa:hover {
	    opacity: 0.7;
	}

	.fa-facebook {
	  background: #3B5998;
	  color: white;
	}

	.fa-instagram {
	  background: #F0254D;
	  color: white;
	}

	.fa-youtube {
	  background: #bb0000;
	  color: white;
	  font-size: 5em;
	}

	div.imagetiles div.col-md-6{
 		padding: 0px;
	}

	.carousel-inner{
   			background: #000;
	}

	body {
			font-family: 'Montserrat';
			font-size: 20px;
			background-color: #4E204D;
	}

	h1 {
  		text-shadow: 2px 2px black;
	}

	p {
		text-align: center;
		font-size: 1.2em;
		padding: 15px;
	}

	a {
		color: black;
	}

	a:hover {
		color: white;
		font-style: auto;
		text-decoration: none !important;
	}

 	@media only screen and (max-width : 480px){
			.navbar-brand {
			font-size: 0.75em !important;
		}

	}


	@media (min-width: 576px) {
	

		.container-page{
			margin: 0px 5%;
		} 
	}

	@media (min-width: 992px) {
		.container-page{
			margin: 0px 8%;
		} 
	}
